<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BlockExplorer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="home">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mempool">Mempool
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Currency Exchange</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search Block">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search Transaction">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<br>
<br>
<br>
<div class="container" *ngIf="block">

  <table class="table table-hover">    
    <tbody>      
      <tr>
        <th scope="row">Height</th>
        <td>{{height}}</td>
      </tr>
      <tr>
        <th scope="row">Merkle Root</th>
        <td>{{block.merkleRoot}}</td>
      </tr>
      <tr>
        <th scope="row">Confirmations</th>
        <td>{{block.confirmations}}</td>
      </tr>
      <tr>
        <th scope="row">Bits</th>
        <td>{{block.bits}}</td>
      </tr>
      <tr>
        <th scope="row">Nonce</th>
        <td>{{block.nonce}}</td>
      </tr>
      <tr>
        <th scope="row">Size</th>
        <td>{{block.size}}</td>
      </tr>
      <tr>
        <th scope="row">Timestamp</th>
        <td>{{block.timestamp}}</td>
      </tr>
      <tr>
        <th scope="row">Total Transacted</th>
        <td>{{block.totalTransacted}}</td>
      </tr>
      <tr>
        <th scope="row">Version</th>
        <td>{{block.version}}</td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>
  <div class="row" *ngFor="let transaction of block.transactions">
    <div class="col-md-12">
      <div class="alert alert-dismissible alert-warning">
        <h4 style="font-size: 15px; text-align: center;" class="alert-heading"><a href="transaction/{{transaction.transactionId}}">{{transaction.transactionId}}</a></h4>
      </div>
    </div>
    <div class="col-md-5">
      <div class="alert alert-dismissible alert-success" *ngFor="let input of transaction.input">
        <h4 style="font-size: 15px;" class="alert-heading">Address {{input.address == "" ? "from Block Reward" : input.address}}</h4>
        <p class="mb-0">Value: {{input.value}}</p>
      </div>
    </div>
    <div class="col-md-2">
      <div style="background: url('https://live.blockcypher.com/static/img/txn_arrow.svg') center no-repeat;min-height: 150px;" class="txn-arrow"></div>
    </div>
    <div class="col-md-5">
      <div class="alert alert-dismissible alert-info" *ngFor="let output of transaction.output">
        <h4 style="font-size: 15px;" class="alert-heading">Address {{output.address}}</h4>
        <p class="mb-0">Value: {{output.value}}</p>
      </div>
    </div>
    <hr>
    <br>
    <br>
    <br>
  </div>    

</div>