<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BlockExplorer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="home">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="mempool">Mempool
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Currency Exchange</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search Block">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search Transaction">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<br>
<br>
<br>
<div class="container">
  <div class="row">
    <h3 style="margin-left:-8px;">Mempool</h3>
    <br>
    <br>
    <table class="table table-hover">
      <thead>
        <tr class="table-info">
          <th scope="col">Transaction Hash</th>
          <th scope="col">Fee</th>
          <th scope="col">Timestamp</th>
          <th scope="col">Priority</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let unconfirmedTransaction of unconfirmedTransactions">
          <td scope="row"><a href="transaction/{{unconfirmedTransaction.transactionHash}}">{{unconfirmedTransaction.transactionHash}}</a></td>
          <td scope="row">{{unconfirmedTransaction.fee}}</td>
          <td scope="row">{{unconfirmedTransaction.time}}</td>
          <td scope="row">{{unconfirmedTransaction.priority}}</td>
        </tr>        
      </tbody>
    </table>
  </div>

  <br>
  <br>
  <br>
  <br>

</div>